audioop-lts==0.2.1
comtypes==1.4.10
customtkinter==5.2.2
darkdetect==0.8.0
defusedxml==0.7.1
fonttools==4.57.0
fpdf2==2.8.3
langdetect==1.0.9
packaging==25.0
pillow==11.2.1
pypiwin32==223
pyttsx3==2.98
pywin32==310
six==1.17.0
SpeechRecognition==3.14.2
standard-aifc==3.13.0
standard-chunk==3.13.0
typing_extensions==4.13.2
